MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=device
MYSQL_USER=root
MYSQL_PASSWORD=your_mysql_password

PG_HOST=49.234.53.230
PG_PORT=5433
PG_DATABASE=jetlinks_211_migration
PG_USER=postgres
PG_PASSWORD=your_pg_password

BATCH_SIZE=500
DRY_RUN=true

